body {
  background-color: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  --primary: #FCF6B1;
  --secondary: #2D1E2F;
  --accent0: #F7B32B;
  --accent1: #E3170A;
}

.everything-container{
  background-color: var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* border: solid rgb(255, 153, 0) 5px; */
  /* border-radius: 5px; */
  width: 100vw;
  justify-self: center;
  flex-direction: column;
  gap: 10px;
}
.title-text{
  font-family: "jsMath-cmr10", Courier;
  font-weight: 600;
  letter-spacing: 3px;
  font-size: 3rem;
  /* TODO: DESKTOP LAYOUT */
  text-align: center;
  margin: 0;
  color: var(--secondary);
}
.subtitle-text {
  margin: 0 0 20px 0;
  font-family: "jsMath-cmmi10", Courier;
  font-weight: 100;
  font-size: 1.5rem;
  color: var(--accent0);
  width: 100%;
  text-align: center;
}
.title-container{
  width: 100%;
}

input {
  font-family: "jsMath-cmmi10", Courier;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  padding: 10px;
  background-color: var(--accent0);
  color: rgba(45, 30, 47, 50)
}

.button-container{
  display: flex;
  gap: 10px;
}

.button-container button{
  font-family: "jsMath-cmmi10", Courier;
  padding: 8px;
  background-color: transparent;
  color: var(--accent0);
  border: solid 2px var(--accent0);
  border-radius: 5px;
  font-size: 1.35rem;
}

.button-container button:hover{
  background-color: var(--accent0);
  color: var(--primary);
}

.result-container{
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.result-container h1 {
  font-size: 5rem;
  height: 20%;
  color: var(--accent0);
}
.result-container h2 {
  font-size: 2rem;
  font-weight: 500;
  height: 20%;
  color: var(--secondary);
}
.result-container * {
  /* TODO: DESKTOP LAYOUT */
  font-family: "jsMath-cmmi10", Courier;
  text-align: center;
  margin: 0;
}

.explanation-container{
  padding: 0px 10px 10px 10px;
}

.explanation{
  font-family: "jsMath-cmr10", Courier;
  margin: 0px;
  letter-spacing: 0.5px; /* wtf??? */
  font-weight: 200;
  text-align: left;
  font-size: 1rem;
}

@media (min-width: 901px) {
  
}