/* Elemen utama halaman */
body {
  margin: 0;
  background-color: #FCF6B1;
}

/* #root Container utama React */
#root {
  font-family: "Abril Fatface", serif;
  margin: 0;
  --primary: #FCF6B1;
  --secondary: #2D1E2F;
  --accent0: #F7B32B;
  --accent1: #E3170A;
  background-color: var(--primary);

  width: 100vw;
  height: 100vh;
  display: flex;
  place-items: center;
}

/* Wadah pembungkus seluruh konten utama */
.everything-container {
  padding: 2rem;
  margin: 0 auto;
  width: 42rem;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background-color: rgba(252, 246, 177, 0.25);
}

/* Container bagian konversi */
.converter-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: center;
  gap: 10px;
}
/* Judul utama aplikasi */
.title-text{
  font-family: "Abril Fatface", serif;
  font-weight: 200;
  letter-spacing: 3px;
  font-size: 3rem;
  margin: 0;
  color: var(--secondary);
}
/* Subjudul aplikasi */
.subtitle-text {
  margin: 0 0 20px 0;
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--accent0);
  width: 100%;
}
/* Wadah untuk judul */
.title-container{
  width: 100%;
}

/* Style Kolom input teks */
input {
  padding: 10px;
  width: calc(100% - 20px);
  font-family: "Quicksand", sans-serif;
  border: none;
  border-radius: 8px;
  font-size: 1.5rem;
  background-color: var(--accent0);
  color: rgba(45, 30, 47, 1);
}
/* Placeholder teks */
input::placeholder {
  color: rgba(45, 30, 47, 0.5);
}

/* Wadah tombol */
.button-container{
  display:grid;
  gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
}

/* Tombol-tombol konversi */
.button-container button{
  font-family: "Quicksand", sans-serif;
  padding: 4px 6px;
  background-color: transparent;
  color: var(--accent0);
  border: solid 1.5px var(--accent0);
  border-radius: 5px;
  font-size: 1.125rem;
  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  transition: all 100ms;
}

/* Efek hover tombol */
.button-container button:hover{
  background-color: var(--accent0);
  color: var(--primary);
}
/* Efek saat ditekan */
.button-container button:active{
  transform: scale(0.925);
}

/* Wadah hasil konversi */
.result-container{
  margin-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Penyesuaian ukuran dan posisi elemen di dalam waadah struktur hasil */
.result-container h1 {
  margin-top: -1rem;
  font-size: 5rem;
  color: var(--accent0);
}
.result-container h2 {
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: var(--secondary);
}
.result-container * {
  font-family: "Abril Fatface", serif;
  margin: 0;
}

/* Garis pembatas */
hr {
  border: none;
  border-left: solid var(--accent1) 1px;
}

/* Wadah penjelasan */
.explanation-container{
  padding: 0px 10px 10px 10px;
}

/* Teks penjelasan */
.explanation{
  font-family: "Quicksand", sans-serif;
  margin: 0px;
  font-weight: 400;
  text-align: left;
  font-size: 1.09rem;
}

/* Overlay identitas (mungkin pop-up/keterangan) */
.identity-bg {
  z-index: 999;
  position: absolute;
  color: var(--secondary);
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  transition: opacity 200ms;

  display: flex;
  place-items: center;
}
.identity-bg > .container {
  margin: 0 auto;
  padding: 1.5rem 4rem;
  background-color: var(--primary);
  border-radius: 10px;
}
/* Penyesesuaian padding & font-size */
.identity-bg > .container > h1 {
  margin: 0 0 1.5rem;
  color: var(--accent1);
}
.identity-bg > .container > p {
  margin: .5rem 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
}
.identity-bg > .container > p > .hg {
  color: var(--accent0);
}

/* Latar belakang dengan efek dekoratif */
.background {
  pointer-events: none;
  position: absolute;
  border-radius: 15px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Kondisi yang akan membuat web responsif di tampilan mobile menggunakan media query */
@media (max-width: 901px) {
  .everything-container {
    flex-flow: column;
  }

  .title-text {
    font-size: 2rem;
    text-align: center;
  }
  .subtitle-text {
    font-size: 1rem;
    text-align: center;
  }
  .explanation {
    font-size: .75rem;
  }
  
  .everything-container {
    padding: 5px 15px;
    gap: 0.5rem;
    min-width: 10rem;
    width: 75%;
  }
  .everything-container {
    flex-direction: column;
    place-items: center;
  }
  
  input {
    font-size: 1rem;
    background-color: var(--accent0);
    color: rgba(45, 30, 47, 50)
  }

  .button-container button{
    font-size: .75rem;
  }
  
  .result-container h1 {
    margin-right: auto;
    font-size: 3rem;
    text-align: center;
  }
  .result-container h2 {
    margin-left: auto;
    font-size: 1.5rem;
    text-align: center;
  }
  .result-container{
    margin: 0;
    gap: 10px;
    flex-direction: row;
    place-items: center;
  }

  hr {
    margin: 0;
    margin-top: -10px;
    width: 100%;
    height: 2px;
    border: none;
    border-top: solid var(--accent1) 1px;
  }

  .identity-bg > .container {
    padding: 1.5rem;
  }
  .identity-bg > .container > h1 {
    font-size: 1.5rem;
  }
  .identity-bg > .container > p {
    font-size: .85rem;
  }
}